<h1>Listing pages</h1>

<% @wiki.pages.each do |page| %>
  <a href="/posts/<%=page.name%>">  <%= page.name %> </a>
  <br \>
<%end%>

<br />
<% if current_user %>  
<b><a href="/new_page">New Page</a></b>
<% else %>
 <%= link_to "Log in", log_in_path %>  to create new page
<% end %>
